.about-me{
    .wrap{
        padding:1rem 6rem;
        p{
            padding-top: 1rem;
        }
        h2{
            margin-top: 2rem;
            &:hover{
                color: $primary-black;
            }
        }
    }
}
@media screen and (max-width:550px) {
    .about-me{
        .wrap{
            padding: 1rem 2rem;
        }
    }
}