.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #222222;
    color: $white;
    padding: 2rem 6rem;
    font-size: 1.6rem;
    align-items: center;
    .logo{
        font-family: 'Oswald';
        font-size: 2.4rem;
        span{
            color: $gold;
        }
    }
    .search{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white;
    }
    #search{
        width: 50vw;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        background-color: transparent;
        outline: none;
        border: none;
        color: $white;
        &::placeholder{
            color: rgb(228, 227, 227);
        }
    }
    .about-me{
        text-transform: uppercase;
        font-family: 'Oswald';
        &:hover{
            color: $gold;
        }
    }
}
@media screen and (max-width:900px) {
    .navbar{
        padding: 1.6rem;
        font-size: 1.4rem;
        .logo{
        font-size: 2rem;

        }
        .search{
            svg{
                width: 2rem;
                height: 2rem;
            }
        }
        #search{
            width: 100%;
            max-width: 45vw;
            padding: 1rem;
            font-size: 1.4rem;
        }
    }
}